<form>
  <div class="form-group">
    <label for="name">{{localize "Name"}}:</label>
    <input type="text" name="name" id="name" value="{{defaultName}}">
  </div>
  <footer class="form-footer">
    <button type="button" class="dialog-button" data-action="confirm">{{localize "OK"}}</button>
  </footer>
</form>