{{!-- Armor Details Card --}}
<div class="sidebar-card">
  <h3>Armor Details</h3>
  <div class="armor-field">
    <label for="item-armor">Armor Value:</label>
    <input id="item-armor" name="system.armor" type="number" value="{{document.system.armor}}" placeholder="Enter armor value" />
  </div>
  <div class="quantity-field">
    <label for="item-quantity">Quantity:</label>
    <input id="item-quantity" name="system.quantity" type="number" value="{{document.system.quantity}}" min="1" />
  </div>
</div>