<div class="tab details" data-group="primary" data-tab="details">
  <div class="form-group">
    <label>Armor Type:</label>
    <select name="system.armorType">
      {{selectOptions armorTypes selected=document.system.armorType}}
    </select>
  </div>
  <div class="form-group">
    <label>Material:</label>
    <input type="text" name="system.material" value="{{document.system.material}}" placeholder="Armor material" />
  </div>
</div>