<div class="tab details" data-group="primary" data-tab="details">
  <div class="form-group">
    <label>Consumable Type:</label>
    <input type="text" name="system.consumableType" value="{{system.consumableType}}" placeholder="Potion, Food, etc." />
  </div>
</div>